<!DOCTYPE html>
<html>
    <head>
        <script src="http://d3js.org/d3.v3.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type=text/javascript src="{{ url_for('static', filename='jquery-1.11.3.min.js') }}"></script>
        <script type=text/javascript src="{{ url_for('static', filename='samudra.js') }}"></script>
    </head>
    <body onload="viewIncoming('Philosophy');">
    <h1 style="text-align: center;">Browsing Wikipedia as a graph</h1>
        <script type="text/javascript">
            var w = 1264;
            var h = 500;

            var circles = null;
            var outerCircleRadius = 200;
            var innerCircleRadius = 120;

            var outerNodeRadius = 20;
            var mainNodeRadius = 30;
            var animationDuration = 800;
//            var circlesSVG = null;

            Math.radians = function(degrees) {
                return degrees * Math.PI / 180;
            };

            var svg = d3.select("body")
                .append("svg")
                .attr("height", h)
                .attr("width", w);

            function viewIncoming(topic){
                // this function renders the graph in its default state,
                // with the "topic" parameter passed to it as the topic in focus
                console.log("inside incoming")
                if (typeof topic === 'undefined') {
                    topic = 'Philosophy';
                }

                svg.selectAll("svg > *").remove();

                d3.json('/get_incoming/'+topic, function(json){
                    /* draw the outer circles */
                    console.log(json);
                    var numOfNodes = json.length;
                    console.log(numOfNodes);

                    addBreadCrumb(topic, "Related to: ")

//                    radius = 100;

                    for(var i = 0; i < numOfNodes; i++) {
                        var obj = json[i];

                        console.log(i + ":" + obj.title);
                        console.log(i + ":" + obj.url);
                        obj.cx = outerCircleRadius * Math.cos(Math.radians(i * 360 / numOfNodes)) + w/2;
                        obj.cy = outerCircleRadius * Math.sin(Math.radians(i * 360 / numOfNodes)) + h/2;
                    }

                    var elem = svg.selectAll("g")
                            .data(json)

                    var elemEnter = elem.enter()
	                        .append("g")
                            .attr("class", "outerNodes")

                    var circle = elemEnter.append("circle")
                            .attr("cx", function(d){
                                return d.cx * (d.cx - w/2)/100;
                            })
                            .attr("cy", function(d){
                                return d.cy * (d.cy - h/2)/10;
                            })
                            .attr("r", outerNodeRadius)
                            .attr("stroke", "black")
                            .attr("stroke-width", "0")
                            .attr("fill", "lightblue")
                            .attr("class", "outerNodeCircle")
                            .attr("title", function(d){
                                return d.title;
                            })
                            .on('click',function(){

                                outerNodeClick(d3.select(this)
                                        .attr("title"))
                            })
                            .on('mouseover', function(d){
                                d3.select(this)
                                        .attr("stroke-width", "2")
                            })
                            .on('mouseout', function(d){
                                d3.select(this)
                                        .attr("stroke-width", "0")
                            })
                            .transition()
                            .attr("cx", function(d){
                                return d.cx;
                            })
                            .attr("cy", function(d){
                                return d.cy;
                            })
                            .duration(animationDuration);

                    elemEnter.append("text")
//                            .attr("dx", function(d){return d.cx})
                            .attr("x", function(d){
                                return d.cx;
                            })
                            .attr("y", function(d){
                                return d.cy;
                            })
                            .attr("fill", "black")
                            .attr("text-anchor", "middle")
                            .attr("class", "outerNodeText")
                            .text(function(d){
                                return d.title
                            })
                            .attr("title", function(d){
                                return d.title;
                            })
                            .on('click',function(){

                                outerNodeClick(d3.select(this)
                                        .attr("title"))
                            });

                    var mainCircle = svg.append("circle")
                            .attr("id", "mainNodeCircle")
                            .attr("r", outerCircleRadius)
                            .attr("cx", w/2)
                            .attr("cy", h/2)
                            .attr("fill", "white")
                            .attr("stroke-width", "0.2")
                            .attr("stroke", "black")
                            .attr("title", topic)
                            .on('click',function(){
                                mainNodeClick(d3.select(this)
                                        .attr("title"))
                            })
                            .on('mouseover', function(d){
                                d3.select(this)
                                        .attr("fill", "steelblue")
                            })
                            .on('mouseout', function(d){
                                d3.select(this)
                                        .attr("fill", "white")
                            })
                            .transition()
                            .attr("r", mainNodeRadius)
                            .duration(animationDuration);
                    var mainText = svg.append("text")
                            .attr("id", "mainNodeText")
                            .attr("x", w/2)
                            .attr("y", h/2)
                            .attr("fill", "black")
                            .attr("stroke-width", "0.5")
                            .attr("stroke", "black")
                            .attr("text-anchor", "middle")
                            .text(topic)
                            .attr("title", topic)
                            .on('click',function(){
                                mainNodeClick(d3.select(this)
                                        .attr("title"))
                            });
                });
            }

            function viewOutgoing(topic){
                console.log(".outgoing:", topic);

                svg.selectAll(".outerNodes") // add transitions later
                        .remove();

//                svg.selectAll(".outerNodeText")
//                        .remove();

                mainNodeCircle = svg.selectAll('#mainNodeCircle');
                mainNodeCircle.transition()
                        .attr("r", outerCircleRadius)
                        .duration(animationDuration)
                        .attr("stroke", "steelblue")
                        .attr("stroke-width", "4");

//                mainNodeCircle.on('click', zoomOut(
//                        d3.select(this)
//                                .attr("title")
//                ));

                mainNodeCircle.on('click', function(){
                    console.log("main node clicked again")
                    d3.select(this)
                            .transition()
                            .attr("r", mainNodeRadius)
                            .attr("stroke-width", "0.5")
                            .attr("stroke", "black")
                            .duration(animationDuration);

//                    d3.selectAll("svg > *")
                    d3.selectAll("#mainNodeCircle")
                            .transition()
                            .delay(animationDuration)
                            .remove();

                    viewIncoming(d3.select(this).attr('title'));
                })


                d3.json('/get_outgoing/'+topic, function(json) {
                    /* draw the inner circles */
                    console.log(json);
                    var numOfNodes = json.length;
                    console.log(numOfNodes);

                    addBreadCrumb(topic, "Drilling down on: ")


                    for (var i = 0; i < numOfNodes; i++) {
                        var obj = json[i];

                        console.log(i + ":" + obj.title);
                        console.log(i + ":" + obj.url);
                        obj.cx = innerCircleRadius * Math.cos(Math.radians(i * 360 / numOfNodes)) + w / 2;
                        obj.cy = innerCircleRadius * Math.sin(Math.radians(i * 360 / numOfNodes)) + h / 2;
                    }

                    var elemOut = svg.selectAll("g")
                            .data(json);

                    var elemEnterOut = elemOut.enter()
                            .append("g")
                            .attr("class", "innerNodes")

                    var innerCircles = elemEnterOut.append("circle")
                            .attr("cx", w/2)
                            .attr("cy", h/2)
                            .attr("r", outerNodeRadius)
                            .attr("stroke", "black")
                            .attr("stroke-width", "0")
                            .attr("fill", "lightblue")
                            .attr("class", "outerNodeCircle")
                            .attr("title", function(d){
                                return d.title;
                            })
                            .on('click',function(){

                                outerNodeClick(d3.select(this)
                                        .attr("title"))
                            })
                            .on('mouseover', function(d){
                                d3.select(this)
                                        .attr("stroke-width", "2")
                            })
                            .on('mouseout', function(d){
                                d3.select(this)
                                        .attr("stroke-width", "0")
                            })
                            .transition()
                            .attr("cx", function(d){
                                return d.cx;
                            })
                            .attr("cy", function(d){
                                return d.cy;
                            })
                            .duration(animationDuration);

                    elemEnterOut.append("text")
//                            .attr("dx", function(d){return d.cx})
                            .attr("x", w/2)
                            .attr("y", h/2)
                            .attr("fill", "black")
                            .attr("text-anchor", "middle")
                            .attr("class", "outerNodeText")
                            .text(function(d){
                                return d.title
                            })
                            .attr("title", function(d){
                                return d.title;
                            })
                            .on('click',function(){

                                outerNodeClick(d3.select(this)
                                        .attr("title"))
                            })
                            .transition()
                            .attr("x", function(d){
                                return d.cx;
                            })
                            .attr("y", function(d){
                                return d.cy;
                            })
                            .duration(animationDuration);

                }); // end of d3.json
            } // end of viewOutgoing

            function outerNodeClick(input){
                console.log("MouseClicked: " + input);
//                d3.selectAll("svg > *").remove() // clears all the svg elements
                svg.selectAll(".outerNodes")
                        .remove();
                svg.selectAll("#mainNodeText")
                        .remove();
                viewIncoming(input);
            }

            function mainNodeClick(input){
                console.log("mainNodeClicked: " + input);
//                svg.select
                viewOutgoing(input);
            }

//            function zoomOut(input){
//// to be filled
//                console.log("inside zoomOut");
//                mainNode = svg.selectAll('#mainNodeCircle');
//                console.log(mainNode);
//                mainNode.transition()
//                        .attr("r", mainNodeRadius)
//                        .duration(1000)
//
//                viewIncoming(input)
//            }

        function addBreadCrumb(topic, action){
            console.log("breadcrumb topic: " + topic);
//            console.log("breadcrumb url:" + url);
            var breadcrumbs = d3.selectAll("#breadcrumbs");
            var newhtml = breadcrumbs.html()+ action +" >> "+ topic + "<br />";
            breadcrumbs.html(newhtml);
        }


        </script>
        <div id="breadcrumbs" style="text-align: center">Your path so far: <br /></div>
    </body>
</html>